.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem;
    z-index: 999;

    .navbar-items {
        list-style: none;
        display: flex;

        &.left {
            li {
                margin-right: 2rem;
            }
        }

        &.right {
            li {
                margin-left: 2rem;
            }
        }

        .hamburger-container{
            display: none;
        }

        li:not(.hamburger-container)::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 3px;
            background-color: $col-white;
            width: 0;
            transition: 0.2s;
        }

        li:hover, li.active {
            &::after {
                width: 100%;
                transition: 0.2s;
            }
        }

        li {
            position: relative;
        }

        li a {
            color: $col-white;
            text-decoration: none;
            font-family: $font-copy;
            text-transform: uppercase;
            font-size: 1.2rem;
            text-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
            white-space: nowrap;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .navbar {
        padding: 2rem 1rem;
        .navbar-items {
            li:not(.navbar-brand):not(.hamburger-container) {
                display: none;
            }
            &.left, &.right{
                li{
                    margin: 0;
                }
            }

            .hamburger-container{
                display: block;
            }
        }
    }
}
