//Global
@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

[x-cloak] {
    display: none !important;
}

body, .site-container {
    width: 100vw;
    min-height: 100vh;
    font-size: 16px;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

// Sinead starts styling here
.orangeheadtext {
    color: $orange;
}

.spacer {
    background-color: #FFF;
    width: 20%;
    height: 4px;
    margin: 1rem 0rem;
}

// Images
.roundedimg {
    border-radius: 30px;
}

.roundedimg-small {
    border-radius: 30px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

// About
.btn {
    padding: 0.8rem 4rem;
    border: 2px solid #000;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn:hover {
    padding: 0.8rem 4rem;
    border: 2px solid $orange;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $orange;
}

.redbtn {
    padding: 0.8rem 4rem;
    border: 2px solid $white;
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $white;
}

.redbtn:hover {
    padding: 0.8rem 4rem;
    border: 2px solid $white;
    background: $white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $orange;
}

.btn-primary {
    border-color: $white;
    color: $white;
    text-decoration: none;
    display: inline-block;
    margin: 2rem 0 4rem 0;
}

.btn-secondary {
    border-color: $red;
    color: $red;
    text-decoration: none;
    display: inline-block;
}

.btn-orange {
    border-color: $orange;
    color: $orange;
    text-decoration: none;
    display: inline-block;
}

.text-align-right {
    text-align: right;
}

.mr-4 {
    margin-right: 1.5rem;
}

.inline-block {
    display: inline-block;
}

// Padding
.padding30 {
    padding: 30px 0px;
}

.padding60 {
    padding: 60px 0px;
}

// Ctas
.red-banner {
    position: relative;
    width: 100%;
    color: #fff;
    background-color: $red;
    text-align: center;
    padding: 5rem 0;

    p {
        margin: 4rem 0 0 0;
    }
}

.ctatext {
    padding: 0px 20%;
}

// Lines
img.linessvg {
    position: absolute;
    width: 100%;
    z-index: -1000 !important;
}

// Text
p {
    margin-top: 1rem !important;
}

.textpadding {
    padding: 10rem 3rem;
}

.font-normal {
    font-weight: normal;
}

.mt-6 {
    margin-top: 2rem !important;
}

.form-control {
    display: block;
    margin: 0.5rem 0;

    span {
        display: block;
    }

    input, select {
        outline: 0;
        border: 0;
        background-color: transparent;
        border-bottom: 2px solid $white;
        padding: 1rem 0;
        width: 100%;
        color: $white;

        option {
            color: $black;
        }

        &::placeholder {
            color: $white;
            opacity: 0.6;
        }
    }
}

.error {
    color: $white;
    font-size: 0.8rem;
    font-weight: bold;
}

.scale-enter, .scale-leave {
    transition: 0.3s ease-out;
}

.scale-enter-start, .scale-leave-end {
    opacity: 0;
    position: absolute;
    transform: scale(0);
}

.scale-enter-end, .scale-leave-start {
    opacity: 1;
    position: static;
    transform: scale(1);
}

#graphic-1 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

#graphic-3 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 25vw;
    height: 100%;
}

.ken-burns-container {
    position: relative;
    overflow: hidden;
}

.ken-burns {
    position: absolute;
    animation: kenBurns 20s ease alternate-reverse infinite;
}

.schedule-table {
    width: 100%;

    .center{
        text-align: center;
    }

    th{
        text-align: left;
        padding: 0.5rem;
    }
    td{
        padding: 0.5rem;
        font-size: 1rem;
    }

    .table-red {
        background-color: #f4d9d7;
    }

    .table-yellow {
        background-color: #faefcc;
    }

    .table-green {
        background-color: #d0e8d6;
    }

    .table-blue {
        background-color: #d8ebf0;
    }

    .table-cyan {
        background-color: #BEE3E9;
    }

    .table-purple {
        background-color: #b69ac8;
    }
}

@-webkit-keyframes kenBurns {
    0% {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        transform: scale(1.0);
        -ms-transform: scale(1.0);
        -webkit-transform: scale(1.0);
        -o-transform: scale(1.0);
        -moz-transform: scale(1.0);
    }
    100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}

@media only screen and (max-width: 600px) {
    .mobile-hidden {
        display: none;
    }
}

//Misc

//Packages
@import 'packages/bootstrap-grid';
@import 'packages/hamburgers';

//Components
@import 'components/navbar';
@import 'components/footer';
@import 'components/image-upload';

//Pages
@import 'about';
@import 'schedule';
@import 'pages/home';
@import 'pages/student';

