@import "variables";

//Global
@import "components/global/navbar";
@import "components/global/footer";
@import "components/global/mobile-navbar";

//Page elements
@import "components/page-elements/homepage";
@import "components/page-elements/student";
@import "components/page-elements/about";

//Sliders
@import "components/sliders/hero-slider";
@import "components/sliders/carousel-slider";

@import "components/auth/auth-card";

@import "components/scrollbar";


@import "components/profile";
@import "components/page-editor";
@import "components/students";
@import "components/image-upload";

@import "components/landing";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: $col-darker;
    width: 100vw;
}

body {
    width: 100%;
    overflow-x: hidden;
}

p{
    font-family: 'Roboto', sans-serif;
}

.scroll-container{
    .scroll-anchor{
        scroll-snap-align: start;
    }
}

.btn-c2a {
    position: relative;
    padding: 1.5rem 2rem;
    border: 4px solid $col-white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: $col-white;
    background-color: transparent;
    display: inline-block;
    margin: 5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    &::before, &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 4px solid transparent;
        transition: 0.2s;
    }
    &:hover{
        border: 4px solid transparent;
        &::before{
            border: 4px solid $col-white;
            background-color: rgba(64, 116, 137, 0.2);
            transform: translate(10px, 10px);
            transition: 0.2s;
        }
        &::after{
            border: 4px solid $col-white;
            background-color: rgba(69, 77, 103, 0.2);
            transform: translate(-10px, -10px);
            transition: 0.2s;
        }
    }
}

.screen-block{
    width: 100%;
    min-height: 100vh;
    position: relative;

    .pushed{
        margin-top: -5rem;
        z-index: -1;
    }

    .brand-background{
        background-color: $col-brand;
    }
    .wave-bottom{
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        z-index: -1;
        transition: 0.2s;
    }
    .wave-top{
        position: absolute;
        left: 0;
        top: -2px;
        width: 100%;
        z-index: -1;
        transition: 0.2s;
    }
}

.tinted{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(69, 77, 103, 0.5);
        z-index: 1;
    }
}

.slide-up-enter-active, .slide-up-leave-active {
    transition: transform .5s;
}

.slide-up-enter, .slide-up-leave-to {
    transform: translate(0, -100%);
}

.fade-enter-active, .fade-leave-active {
    position: absolute;
    transition: opacity 1s;
}

.fade-slow-enter-active, .fade-slow-leave-active {
    position: absolute;
    transition: opacity 2s;
}

.fade-fast-enter-active, .fade-fast-leave-active {
    transition: opacity 1s;
}

.fade-enter, .fade-leave-to,
.fade-fast-enter, .fade-fast-leave-to,
.fade-slow-enter, .fade-slow-leave-to {
    opacity: 0;
}

.fade-up-enter, .fade-up-leave-to{
    opacity: 0;
    transform: translate(0, 5rem);
}


.fade-up-enter-active, .fade-up-leave-active {
    transition: all 0.5s;
}

.spinner {
    animation: spin 1s infinite linear;
}

.loader {
    position: relative;
    width: 100%;
    height: 100vh;

    .load-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $col-white;
        z-index: 999;
    }
}

.instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: $col-white;
    padding: 2rem;
    text-align: center;
    line-height: 2rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
