* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.splash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.landing-page {
  background-color: #FFF;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.landing-page .graphic-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transform: scale(1.05);
  transition: 0.2s;
}
.landing-page .graphic-left svg {
  height: 100%;
}
.landing-page .graphic-left .date {
  opacity: 0;
  -webkit-animation: fade-up 1s linear;
          animation: fade-up 1s linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media only screen and (max-width: 1280px) {
  .landing-page .graphic-left {
    height: 40vh;
    transform: scale(1.1);
    transition: 0.2s;
  }
}
.landing-page .graphic-right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  transform: scale(1.05);
  transition: 0.2s;
}
.landing-page .graphic-right svg {
  height: 100%;
}
@media only screen and (max-width: 1280px) {
  .landing-page .graphic-right {
    height: 40vh;
    top: auto;
    bottom: 0;
    transform: scale(1.1);
    transition: 0.2s;
  }
}
.landing-page .countdown {
  position: absolute;
  right: 15vw;
  top: 5rem;
  opacity: 0;
  -webkit-animation: fade-up 1s linear;
          animation: fade-up 1s linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: 0.2s;
}
.landing-page .countdown .days {
  display: flex;
}
.landing-page .countdown .days .number {
  font-size: 6rem;
  font-weight: 900;
  padding: 0.2rem 1rem;
  border: 1px solid #F2B4B7;
  border-radius: 10px;
  color: #BF2C2D;
  margin: 0 0.2rem;
  transition: 0.2s;
}
.landing-page .countdown .label {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0.5rem;
  padding-right: 1rem;
  color: #BF2C2D;
  transition: 0.2s;
}
@media only screen and (max-width: 1280px) {
  .landing-page .countdown {
    top: 1rem;
    right: 5vw;
    transition: 0.2s;
  }
  .landing-page .countdown .days .number {
    font-size: 3rem;
    transition: 0.2s;
  }
  .landing-page .countdown .label {
    font-size: 1rem;
    transition: 0.2s;
  }
}
.landing-page .socials {
  position: fixed;
  right: 8vw;
  bottom: 2rem;
  display: flex;
  justify-content: center;
}
.landing-page .socials a {
  opacity: 0;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: 3px solid #BF2C2D;
  border-radius: 10px;
  color: #BF2C2D;
  margin: 0 0.5rem;
  -webkit-animation: fade-up 0.2s linear;
          animation: fade-up 0.2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transition: 0.2s;
}
.landing-page .socials a:hover {
  border-radius: 50%;
  background-color: #BF2C2D;
  color: #FFF;
  transition: 0.2s;
}
.landing-page .socials a:nth-child(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.landing-page .socials a:nth-child(2) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.landing-page .socials a:nth-child(3) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}
@media only screen and (max-width: 1280px) {
  .landing-page .socials {
    left: 2vw;
    right: auto;
    bottom: 1rem;
    flex-direction: column;
    transition: 0.2s;
  }
  .landing-page .socials a {
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}
.landing-page .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.landing-page .content div {
  opacity: 0;
  -webkit-animation: fade-up 1s linear;
          animation: fade-up 1s linear;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.landing-page .content div h1 {
  color: #BF2C2D;
  font-size: 3rem;
}
.landing-page .content div p {
  color: #707070;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.landing-page .content div a {
  display: block;
  color: #BF2C2D;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  transition: 0.2s;
}
.landing-page .content div a i {
  margin-top: 1.5rem;
  font-size: 3rem;
}
.landing-page .content div a:hover {
  color: #707070;
  transition: 0.2s;
}
@media only screen and (max-width: 1280px) {
  .landing-page .content {
    top: 55%;
  }
  .landing-page .content div h1 {
    font-size: 2.5rem;
  }
  .landing-page .content div p {
    font-size: 1.2rem;
  }
  .landing-page .content div a {
    font-size: 1.2rem;
  }
}

.bounces {
  transition: 0.2s;
}
.bounces:hover {
  cursor: default;
  transform: translate(0, -5px);
  padding-bottom: 5px;
  transition: 0.2s;
}

a.bounces:hover {
  cursor: pointer;
}

@-webkit-keyframes fade-up {
  from {
    opacity: 0;
    transform: translate(0, 5px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate(0, 5px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
