.schedule-heading{
    padding: 10rem 5rem 5rem 5rem;
    h1{
        color: $col-white;
        font-size: 3rem;
        text-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }
    p{
        font-size: 1.8rem;
        color: $col-white;
        padding: 1rem 0;
        max-width: 50%;
    }
}

.schedule{
    padding: 0 5rem;
    width: 100%;
    tr{
        background-color: $col-dark;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        margin-bottom: 15px;
        td{
            color: $col-white;
            font-size: 2rem;
            padding: 2rem 0;
            text-align: center;
            background-color: $col-brand;
            &.big{
                width: 75%;
                background-color: $col-dark;
            }
        }
    }

}
