.students-header{
    width: 100%;
    padding: 15rem 5rem;
    position: relative;
    min-height: 100vh;
    h2{
        font-size: 6rem;
        color: $col-white;
        text-transform: capitalize;
    }
    h4{
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $col-white;
        font-weight: lighter;
        a{
            color: $col-darker;
            text-decoration: none;
            transition: 0.2s;
            &:hover{
                color: $col-white;
                transition: 0.2s;
            }
        }
    }
    .back-plate{
        width: 60%;
        position: absolute;
        left: 0;
        bottom: -5rem;
        height: 25rem;
        z-index: -1;
        background-color: $col-brand;
    }
    .block-links{
        width: 100%;
        display: flex;
        padding: 2rem 0;
        flex-wrap: wrap;
        .block-link{
            width: 400px;
            height: 400px;
            cursor: pointer;
            margin: 1rem;
            text-decoration: none;
            position: relative;
            background-color: $col-darker;
            transition: 0.2s;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 0 5px 10px rgba(0,0,0,0.3);
                transition: 0.2s;
            }
            h4{
                text-align: center;
                padding: 0.5rem 0;
            }
            &:hover{
                transform: translate(0, -10px);
                transition: 0.2s;
                img{
                    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
                    transition: 0.2s;
                }
            }
            .overlay{
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 1rem 0.5rem;
                color: $col-white;
                background-color: $col-dark;
                box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
                font-size: 1.5rem;
            }
        }
    }
}
