@import "variables";

@import "components/scrollbar";
@import "components/navbar";
@import "components/about";
@import "components/auth";
@import "components/profile";
@import "components/page-editor";
@import "components/students";
@import "components/image-upload";
@import "components/footer";
@import "components/student-card";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: $col-darker;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

p{
    font-family: 'Roboto', sans-serif;
}

.content-block {
    padding: 4rem 0;
    position: relative;
    width: 100vw;
    scroll-snap-align: start;
    &.screen{
        min-height: 100vh;
    }
}


.logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;

    img {
        width: 100%;
        height: 100%;
    }

    .background-circle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center center;
        width: 130%;
        height: 130%;
        background-color: $col-dark;
        border-radius: 50%;
        z-index: -1;
        animation: grow 0.5s ease-in;

        .border-circle {
            width: 105%;
            height: 105%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transform-origin: center center;
            border-radius: 50%;
            border: 5px dashed $col-dark;
            animation: rotate 20s infinite linear;
        }
    }
}

#app {
    width: 100vw;
    min-height: 100vh;
}

h2 {
    color: $col-white;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 8rem 0 2rem 0;
    text-align: center;
}

.btn-primary {
    display: inline-block;
    align-items: flex-start;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    color: $col-white;
    outline: 0;
    border: 2px solid $col-white;
    cursor: pointer;
    transition: 0.2s;

    &.dark {
        color: $col-dark;
        border-color: $col-dark;
    }

    &:hover {
        color: $col-brand;
        border: 2px solid $col-brand;
        text-shadow: 0 2px 5px $col-light;
        box-shadow: 0 2px 5px $col-light;
        transition: 0.2s;
    }
}

.label {
    margin-bottom: -0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.form-control {
    width: 100%;
    display: block;
    margin: 1rem 0;
    position: relative;

    span, input {
        width: 100%;
        display: block;
    }

    i {
        color: $col-white;
        position: absolute;
        left: 0.5rem;
        display: block;
        top: 0.25rem;
        margin: auto 0;
        font-size: 1.5rem;

        &.select-icon {
            top: 0.4rem;
        }

        &.is-invalid {
            color: red !important;
        }
    }

    select {
        text-transform: capitalize;
    }

    input, select, textarea {
        border: 2px solid $col-white;
        background-color: transparent;
        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
        font-size: 1rem;
        font-weight: lighter;
        color: $col-white;
        width: 100%;

        option {
            text-transform: capitalize;
        }

        &.is-invalid {
            border-color: red !important;
        }

        &::placeholder {
            text-transform: capitalize;
        }

        &:active, &:focus, &:-webkit-autofill {
            background-color: $col-darker;
            outline: 0;
        }
    }

    textarea {
        padding: 0.5rem;
        resize: none;
    }

    &.dark {
        i {
            color: $col-darker !important;
        }

        input, select, textarea {
            &::placeholder {
                text-transform: capitalize;
            }

            &:active, &:focus, &:-webkit-autofill {
                background-color: $col-light;
                outline: 0;
            }

            border-color: $col-darker;
            color: $col-darker;
        }
    }
}

.link-primary {
    color: $col-white;
    display: block;
}

.error {
    margin-bottom: 0 !important;
    color: red !important;
    display: block;
    margin: 0.5rem 0 0 0;
}

.slide-left-enter-active, .slide-left-leave-active {
    transition: transform .5s;
}

.slide-left-enter, .slide-left-leave-to {
    transform: translate(100%, 0);
}

.fade-enter-active, .fade-leave-active {
    position: absolute;
    transition: opacity 1s;
}

.fade-slow-enter-active, .fade-slow-leave-active {
    position: absolute;
    transition: opacity 2s;
}

.fade-enter, .fade-leave-to,
.fade-slow-enter, .fade-slow-leave-to {
    opacity: 0;
}

.spinner {
    animation: spin 1s infinite linear;
}

.loader {
    position: relative;
    width: 100%;
    height: 100vh;

    .load-text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $col-white;
        z-index: 999;
    }

}

.instructions {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: $col-white;
    padding: 2rem;
    text-align: center;
    line-height: 2rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    70% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
