.auth-card {
    display: flex;
    width: 100%;
    padding: 10rem 5rem 0 0;
    height: 100vh;
    border-bottom: 4px solid $col-white;

    .image-large {
        max-width: 40%;
        img {
            max-width: 100%;
            height: 100%;
        }
    }

    .auth-form {
        margin-left: 10rem;
        width: 50%;
        h2{
            color: $col-white;
            font-size: 3rem;
        }

        .description{
            color: $col-white;
            margin: 1.5rem 0 1rem 0;
            line-height: 1.5rem;
        }

        .auth-select{
            display: block;
            margin-bottom: 2rem;
            select{
                width: 100%;
                padding: 0.5rem;
                border: 2px solid $col-white;
                background-color: transparent;
                text-transform: capitalize;
                color: $col-white;
                font-size: 1rem;
                option{
                    background-color: $col-darker;
                    color: $col-white;
                }
            }
        }

        .auth-input{
            display: block;
            margin: 2rem 0;
            width: 100%;
            position: relative;
            input{
                display: block;
                width: 100%;
                background-color: $col-darker !important;
                border: 0;
                border-bottom: 2px solid $col-white;
                outline: 0;
                padding: 0.2rem;
                font-size: 1rem;
                color: $col-white;
                &:-webkit-autofill, :autofill, &:-internal-autofill-selected {
                    background-color: transparent;
                }
            }
            .float-label{
                color: $col-white;
                font-size: 1rem;
                position: absolute;
                bottom: 0.5rem;
                left: 0;
                transition: 0.2s;
            }
            &.active{
                .float-label{
                    bottom: 2rem;
                    transition: 0.2s;
                }
            }
        }

        .link-primary{
            color: $col-white;
            display: inline-block;
            &:hover{
                color: $col-light;
            }
        }

        .btn-c2a{
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
    .error{
        margin: -1rem 0 1rem 0;
    }
}

.error{
    color: red;
    margin: 0.5rem 0;
    display: block;
    font-size: 0.5rem;
}

@media only screen and (max-width: 900px) {
    .auth-card {
        .image-large {
            display: none;
        }
        .auth-form {
            margin-left: 2rem;
            width: 100%;
        }
    }
}
