.about {
    z-index: 1;
    height: 90vh;
    text-align: center;

    .about-content {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        p {
            width: 40%;
            font-size: 1.5rem;
            font-weight: 300;
            color: $col-white;
            text-align: center;
            .btn-primary{
                margin-top: 2rem;
            }
        }
    }
}

