.profile{
    .hero-image{
        width: 100%;
        height: 400px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .profile-main{
        position: relative;
        height: calc(100vh - 400px);
        .profile-card{
            position: absolute;
            left: 10%;
            top: -30%;
            width: 400px;
            background-color: $col-white;
            padding: 2rem 3rem 6rem 3rem;
            border-radius: 20px;
            box-shadow: 0 20px 10px rgba(20,20,20,0.2);
            cursor: pointer;
            .avatar{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: 0 auto 2rem auto;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .profile-details{
                h2{
                    font-size: 1.8rem;
                    margin-bottom: 0.4rem;
                }
                h4{
                    font-weight: normal;
                }
                strong{
                    display: block;
                    margin: 0.8rem 0;
                }
            }
            .visit-overlay{
                position: absolute;
                left: 0;
                bottom: 0;
                border-radius: 50%;
                background-color: $col-brand;
                width: 100%;
                height: 100%;
                transform: scale(0);
                transform-origin: center calc(2rem + 100px);
                box-shadow: 0 0 20px rgba(89, 198, 242, 0.9);
                transition: all 0.2s;
                .visit-text{
                    i{
                        font-size: 5rem;
                        margin-bottom: 0.4rem;
                    }
                    small{
                        margin-top: 1rem;

                    }
                    text-decoration: none;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    color: $col-white;
                    text-align: center;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover{
                .visit-overlay{
                    border-radius: 20px;
                    transform: scale(1);
                    transition: all 0.2s;
                }
            }
        }

    }
}

.edit-button{
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    background-color: $col-brand;
    color: $col-white;
    padding: 1rem;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: 0.2s;

    &:hover{
        background-color: $col-darker;
        transition: 0.2s;
    }
}
