::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $col-dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $col-white;
    transition: 0.2s;
    &:hover{
        background-color: $col-brand;
        box-shadow: 0 2px 5px $col-light;
        transition: 0.2s;
    }
}
