.hero-slider {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    .slide-trolley {
        position: relative;
        display: flex;
        transition: transform 1s;

        .slide {
            width: 100vw;
            height: 100vh;
            position: relative;
            flex-shrink: 0;

            &::after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(69, 77, 103, 0.4);
                z-index: 1;
            }

            img, video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .caption {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 2rem;
                color: $col-white;
                z-index: 2;

                h1 {
                    font-family: $font-brand;
                    font-weight: bold;
                    text-shadow: 0 5px 10px rgba(0,0,0,0.8);
                    white-space: nowrap;
                }

                h2 {
                    margin-top: 1rem;
                    font-weight: lighter;
                    text-transform: uppercase;
                    font-size: 2rem;
                    text-shadow: 0 5px 10px rgba(0,0,0,0.8);
                }
                .btn-cta{
                    text-shadow: 0 5px 10px rgba(0,0,0,0.8);
                }
            }
        }
    }

    .slide-indicators {
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        list-style: none;

        .indicator {
            margin: 0 0.5rem;
            position: relative;
            a {
                display: block;
                background-color: $col-white;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
            &::after{
                content: '';
                position: absolute;
                transform-origin: center;
                left: 50%;
                top: 50%;
                width: 100%;
                height: 100%;
                background-color: $col-brand;
                border-radius: 50%;
                transform: translate(-50%, -50%) scale(0);
                transition: 0.5s;
            }
            &.active{
                &::after{
                    transform: translate(-50%, -50%) scale(0.8);
                    transition: 0.5s;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .hero-slider {
        .slide-trolley {
            .slide{
                .caption {
                    h1 {
                        font-size: 2.2rem;
                    }
                    h2 {
                        font-size: 1.5rem;
                        margin-top: 0.5rem;
                    }
                    .btn-c2a{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
